# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/

# Build outputs
.next/
out/
dist/
build/
coverage/
.superpowers/
supabase/.temp/
.vscode/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
